@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.displayText{
    font-family: 'Inter', sans-serif;
    position: absolute;
    top: 12rem;
    left: 34rem;
    font-size: 2.7rem;
    height: 4rem;
}


.reg-log-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 12rem;
    position: absolute;
    left: 37rem;
    top: 19rem;
}

#doctor{
    background-color: white;
    border-radius: 3rem;
    padding: 1rem;
    position: relative;
    right: 3rem;
    width: 10.8rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#patient{
    background-color: white;
    border-radius: 3rem;
    padding: 3.5rem;
    position: relative;
    left: 3rem;
    height: 5rem;
    width: 6rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.doc{
    display: flex;
    flex-direction: column;
}

.pat{
    display: flex;
    flex-direction: column;
}

#doc-text{
    position: relative;
    bottom: 3rem;
    right: 3rem;
}

#pat-text{
    position: relative;
    bottom: 3rem;
    left: 3rem;
}