.card {
    text-align: left;
    margin-left: 2.5rem;
    font-size: 12px;
    height: 4rem;
}

.swiper-slide,
swiper-slide {
    background-color: white;
    padding-top: 0.9rem;
    padding-bottom: 2rem;
    padding-left: 0.8rem;
    letter-spacing: 0.07em;
    background: linear-gradient(138.24deg, rgba(241, 241, 241, 0.8) 11.36%, rgba(255, 255, 255, 0.609258) 29.96%, rgba(241, 241, 241, 0.01875) 100.66%, rgba(241, 241, 241, 0) 100.66%);
    border-radius: 20px;
}

.doctorDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 5rem;
}

#ddo{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.07em;
    color: #535050;
}

#ddt{
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.07em;
    color: rgba(83, 80, 80, 0.76);
}

.doctorDetails button{
    color: #5ebb58;
    margin-top: 1rem;
}
