* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    position: absolute;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    border-bottom: 2px solid #465A5F;
    height: 6rem;
    margin: 0px 2rem;
}

#artemis-logo {
    width: 12rem;
    scale: 1.25;
}

#person-logo {
    width: 4rem;
}

.logo {
    margin-left: 1.65rem;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70rem;
    height: 27rem;
    border-radius: 4px;
    color: black;
    padding: 0 4rem;
    padding-top: 1rem;
    padding-bottom: 4rem;
    margin-top: 4rem;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0rem;

}

.top-left {
    border-bottom: 1px solid black;
    width: 42rem;
    text-align: left;
}

.main-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-box-left {
    display: flex;
    flex-direction: column;
    text-align: left
}

.main-box-right {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.address {
    display: flex;
    flex-direction: column;
    text-align: left;
}

input {
    margin: 0.5rem 0;
    border: none;
    padding: 1rem;
    border-radius: 10px;
    background-color: #E0E0E0;
    width: 25rem;
    height: 0.5rem;
}

#text-area {
    margin: 0.5rem 0;
    border: none;
    padding: 1rem;
    border-radius: 10px;
    background-color: #E0E0E0;
}

.query-box {
    display: flex;
    flex-direction: column;
    text-align: left;
}